<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtre</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/./static/style/style.css">
    <link rel="icon" type="image/png" href="/./static/style/logo.png" />
	
</head>
<body>

<h1 class ="h1center" >recherche <code>PDF</code></h1>
<img class = "logo" src="/./static/images/logo_assurone_bloc_blanc.png" />

    
</head>
<body>


<nav id="wrap">
    <ul class="navbar">
        <li><a href="/">Pydoc</a></li>
        <li>
            <a href="/logpaths">LogPaths</a>
        </li>
        <li><a href="/search">search PDF</a></li>
		<li><a href="/tests">scripts test</a></li>
    </ul>
</nav>

  
{% block content %}
<a href= './'><img src = '/./static/images/RETOUR.jpg'/></a>
{% if files|length < 1 %}

<P style = "font-size: 15px; margin-left: 20px;"> aucun resultat </P>

{% else %}
{% for date in files %}
	
      <div class="list" style="padding: 10px; background-color: #EEE; margin: 20px">
        <P style = "font-size: 15px;"> {{date.date}} </P>
        {% for file in date.files %}
            <P style = "font-size: 15px;"> {{file}} </P>
        {% endfor %}
      </div>
      {% endfor %}

      </div>
	  {% for query in list_query %}
	  {% if query.found == False %}
	  <div class="list" style="padding: 10px; background-color: #EEE; margin: 20px">
			<P style = "font-size: 15px;"> Aucun resultat pour : {{query.query}} </P>
			</div>
		{% endif %}
		{% endfor %}

<form enctype="multipart/form-data"  method="post">


    <button name ="archive" style="margin-left: 20px;" type="submit" class="save btn btn−default">archiver</button>
</form>
{% endif %}
{% endblock %}
    {% csrf_token %}


</body>
</html>