<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtre</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/./static/style/style.css">
    <link rel="icon" type="image/png" href="/./static/style/logo.png" />
</head>
<body>

  <h1>search <code>PDF</code></h1>
  <img class = "logo" src="/./static/images/logo_assurone_bloc_blanc.png" />
<nav id="wrap">
    <ul class="navbar">
        <li><a href="/">Pydoc</a></li>
        <li>
            <a href="/logpaths">LogPaths</a>
        </li>
        <li><a href="/search">search PDF</a></li>
		<li><a href="/tests">scripts test</a></li>
    </ul>
</nav>

	<h2 style="text-align:center;"> Rechercher un numero de contrat</h2>
	<form  style="text-align:center;" class ="formilaire" method="post" action ="/search/find">
    <input id="searchbar" type="text"
        name="rech" placeholder="Search...">
  </form> 

</body>
</html>

