<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyDoc</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/style/style.css">
    <link rel="icon" type="image/png" href="static/style/logo.png" />
</head>
<body>

<h1>Documentation <code>pydoc</code></h1>
<img class = "logo" src="static/images/logo_assurone_bloc_blanc.png" />

<nav id="wrap">
    <ul class="navbar">
        <li><a href="/">Pydoc</a></li>
        <li>
            <a href="/logpaths">LogPaths</a>
        </li>
        <li><a href="/search">search PDF</a></li>
		<li><a href="/tests">scripts test</a></li>
    </ul>
</nav>

{% block content %}
    <div style="width: 50%; margin: auto">
        {% for file in files %}
        <div class="list" style="padding: 10px; background-color: #EEE; margin: 20px">
            <a style="list-style: url('/media/examples/rocket.svg)" href="./static/html/{{ file }}">{{ file }}</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>
