
<!DOCTYPE html>
{% load log %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogFiles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style/style.css">

    <link rel="icon" type="image/png" href="static/style/logo.png" />


</head>
<body>

<h1>Fichiers <code>log</code></h1>
<img class="logo" src="static/images/logo_assurone_bloc_blanc.png" />

<nav id="wrap">
    <ul class="navbar">
        <li><a href="/">Pydoc</a></li>
        <li>
            <a href="/logpaths">LogPaths</a>
        <li><a href="/search">search PDF</a></li>
		<li><a href="/tests">scripts test</a></li>

    </ul>
</nav>

{% block content %}
    <div style="width: 50%; margin: auto">
        {% for file in files %}
            <div class="list" style=" background-color: #EEE; margin: 20px">
                {% with objects=list_file %}{%endwith%}
                {% for i in objects %}
                    {% if i.file == file %}

                        
                        {%if i.linerr == "" %}
						<a href="/logpaths" >{{i.file}}</a>
						{%endif%}
                        
                        {%if i.linerr != "" %}
						<i class="glyphicon glyphicon-remove"></i>
							<a href="/logpaths" >{{i.file}}</a>
							<p style ="text-align:center;">{{i.linerr}}</p>
                            
                        {%endif%}
                    {%endif%}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock content %}

</body>
</html>